<div >
    <table width="100%">
      <tr colspan="12">
        <td colspan='6' align="left" colspan="6"><img src="http://161.35.189.93/static/images/the_logo.png" height="75px" widht='20px'/></td>
        <td align="right" colspan="6"><div>
            <img src="http://161.35.189.93/static/images/Facebook.png" height="24" width="24" />
            <img src="http://161.35.189.93/static/images/Twitter.png" height="24" width="24" />
            <img src="http://161.35.189.93/static/images/Instagram.png" height="24" width="24" />
        </div></td>
      </tr>
    </table>
</div>

